body {
    background-color: white;
}

header {
    background-image: linear-gradient( to right, #6071da, #3A00CA, #3300B2 );
}

button {
    background-image: linear-gradient(to right, #6790D6, #4D79D1 );
}